:root {
    --white: #edf6f8;
    --blue1: #145ca6;
    --blue2: #1b6cb9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(var(--blue2), var(--blue1));
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

#shape {
    margin: 8px;
}

.triangle, .circle, .cross, .square {
    animation: load 2s infinite ease-in-out;
}

.circle {
    animation-delay: 0.25s;
}

.cross {
    animation-delay: 0.5s;
}

.square {
    animation-delay: 0.75s;
}

@keyframes load {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 0;
        transform: rotate(360deg) scale(0);
    }
    80%, 100% {
        opacity: 1;
        transform: rotate(360deg) scale(1);
    }
}